
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.head="head.js"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <meta name="keywords" content="${head.keywords}">
    <meta name="description" content="${head.description}">
    <sly data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" />
    <sly data-sly-include="author.html" />
    <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />
    <sly data-sly-include="customheaderlibs.html" />
    <link data-sly-test="${head.faviconPath}" rel="icon" type="image/vnd.microsoft.icon" href="${head.faviconPath}">
    <link data-sly-test="${head.faviconPath}" rel="shortcut icon" type="image/vnd.microsoft.icon" href="${head.faviconPath}">

    <title>${head.title}</title>

    <sly data-sly-call="${clientLib.css @ categories=['<%= siteName %>-libs','helloworld-defaults','helloworld-components']}" />
    <sly data-sly-call="${clientLib.js @ categories=['<%= siteName %>-libs','helloworld-defaults','helloworld-components']}" />

